.Blog {
  background-color: rgb(223, 245, 253);
}

.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(242, 253, 252);
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: black;
}

.Blog a:hover {
  color: rgb(247, 215, 112);
}

.Blog a:active,
.Blog a.active {
  color: orange;
}
